<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/resources/static/css/bootstrap.min.css">
</head>
<body>
<!-- create navigation bar ( header) -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
     data-toggle="collapse" data-target="#navbar" aria-expanded="false"
     aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" th:href="@{/}">Registration and
     Login Module</a>
   </div>
  </div>
 </nav>

<br>
<br>
 <!-- Create HTML registration form -->
 <div class="container">
  <div class="row">
   <div class="col-md-6 col-md-offset-3">

    <!-- success message -->
    <div th:if="${param.success}">
     <div class="alert alert-info">You've successfully registered
      to our awesome app!</div>
    </div>

    <h1>Registration</h1>

    <form th:action="@{/registration}" method="post" th:object="${user}">
    
    <div class="form-group">
      <label class="control-label" for="loginId"> Login Id </label> <input
       id="loginId" class="form-control" th:field="loginId"
       required autofocus="autofocus" />
     </div>
     
     <div class="form-group">
      <label class="control-label" for="name"> Name </label>
      <input id="name" class="form-control" th:field="*{name}"
       required autofocus="autofocus" />
     </div>

     <div class="form-group">
      <label class="control-label" for="contactNo"> Contact No </label> <input
       id="contactNo" class="form-control" th:field="contactNo"
       required autofocus="autofocus" />
     </div>

     <div class="form-group">
      <label class="control-label" for="emailId"> Email </label> <input
       id="email" class="form-control" th:field="emailId" required
       autofocus="autofocus" />
     </div>

     <div class="form-group">
      <label class="control-label" for="password"> Password </label> <input
       id="password" class="form-control" type="password"
       th:field="*{password}" required autofocus="autofocus" />
     </div>
	
	 <div class="form-group">
      <label class="control-label" for="address"> Address </label> 
      <input id="address" class="form-control" th:field="address" required
       autofocus="autofocus" />
     </div>
     
     <div class="form-group">
      <button type="submit" class="btn btn-success">Register</button>
      <span>Already registered? <a href="/" th:href="@{/login}">Login
        here</a></span>
     </div>
    </form>
   </div>
  </div>
 </div>
</body>
</html>